header.shrink, img {
   -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

header.shrink p, p span {
   -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

header.shrink {
    height: 3em;
}

header.shrink p {
    font-size: 95%;
}

header.shrink p span {
    font-size: 95%;
}

header.shrink img {
    width: 0;
    height: 0;
}

a:visited {
  color: #61C;
}
a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  color: #c00;
  outline: 0;
}

footer ul li a:visited {
 color: #77c4d3;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

footer a:hover {
  opacity: 0.5;
  cursor: pointer;
}
